<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <script>
        if (!Modernizr) {
            $("<script")
                .attr("src", "@Url.Content("~/Scripts/modernizr.js")")
                .appendTo($("body"));
        }
    </script>
</head>
<body  @RenderSection("BodyAttributes", false)>
    <div class="navbar navbar-dark bg-primary fixed-top navbar-expand-sm">
        <div class="container">
            <div class="navbar-header">
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                @Html.ActionLink("GoPark", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            @*<div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            @Html.ActionLink("GoPark", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
        </div>*@
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item active">
                        <a class="nav-link" href="@Url.Action("Index", "Home")">Home<span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item active">
                        <a class="nav-link" href="@Url.Action("About", "Home")">Parking Lot list<span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item active">
                        <a class="nav-link" href="@Url.Action("Contact", "Home")">Our specialty<span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item active">
                        <a class="nav-link" href="@Url.Action("Index", "Home")">Contact information<span class="sr-only">(current)</span></a>
                    </li>
                </ul>
            </div>
            <!--<div class="navbar-collapse collapse">-->
            @*<ul class="navbar navbar-nav">
            <li>@Html.ActionLink("Home page", "Index", "Home")</li>
            <li>@Html.ActionLink("Parking Lot list", "About", "Home")</li>
            <li>@Html.ActionLink("Our specialty", "Contact", "Home")</li>
            <li>@Html.ActionLink("Contact information", "Index", "Home")</li>
        </ul>*@
            <!--</div>-->
        </div>
        </div>
    
    <div class="body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - GoPark</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("Scripts", required: false)
    @RenderSection("Styles", false);


</body>
</html>
